.side-menu-item
{
    // transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}