@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// @font-face {
//     font-family: 'Poppins';
//     src: url('./assets/fonts/Poppins/Poppins-Black.ttf'),
//     url('./assets/fonts/Poppins/Poppins-BlackItalic.ttf'),
//     url('./assets/fonts/Poppins/Poppins-Bold.ttf'),
//     url('./assets/fonts/Poppins/Poppins-BoldItalic.ttf'),
//     url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf'),
//     url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf'),
//     url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf'),
//     url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf'),
//     url('./assets/fonts/Poppins/Poppins-Light.ttf'),
//     url('./assets/fonts/Poppins/Poppins-LightItalic.ttf'),
//     url('./assets/fonts/Poppins/Poppins-Medium.ttf'),
//     url('./assets/fonts/Poppins/Poppins-MediumItalic.ttf'),
//     url('./assets/fonts/Poppins/Poppins-Regular.ttf'),
//     url('./assets/fonts/Poppins/Poppins-SemiBold.ttf'),
//     url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf'),
//     url('./assets/fonts/Poppins/Poppins-Thin.ttf'),
//     url('./assets/fonts/Poppins/Poppins-ThinItalic.ttf');
// }

@font-face {
    font-family: 'Museo Moderno';
    src: 
    // url('./assets/fonts/MuseoModerno/MuseoModerno-Black.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-BlackItalic.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-Bold.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-BoldItalic.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-ExtraBold.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-ExtraBoldItalic.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-ExtraLight.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-ExtraLightItalic.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-Light.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-LightItalic.ttf'),
    url('./assets/fonts/MuseoModerno/MuseoModerno-Medium.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-MediumItalic.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-Regular.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-SemiBold.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-SemiBoldItalic.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-Thin.ttf'),
    // url('./assets/fonts/MuseoModerno/MuseoModerno-ThinItalic.ttf'),
    ;
}

body, html, div[data-js="root"] {
    height: 100%;
    position: relative;
    // background-color: #1e1e1e;
}

.bordered {
    border: 1px solid rgb(175, 175, 175) !important;
    border-radius: 4px !important;
}